<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <style>
    img[src*='#left'] {
      float: left;
      margin-bottom: 1em;
      margin-right: 1em;
    }

    img[src*='#right'] {
      float: right;
      margin-bottom: 1em;
      margin-right: 1em;
    }

    img[src*='#center'] {
      display: block;
      margin: auto;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  </style>
</head>

<body lang="en-US">
  <img src="/assets/images/Bannersito.png" width=100%>
  {{ content }}
</body>

</html>
